h1 {
  font-family: Georgia;
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: center;
}
.nav {
  font-family: sans-serif;
  list-style-type: none;
  text-align: right;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
.nav li a{
    text-decoration: none;
}
/* unvisited link */
a:link {
  color: DarkGreen;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  background-color: DarkGreen;
  color: white;
}

/* selected link */
a:active {
  color: green;
}

.lettuce{
  width:1000px;
  height:450px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
